:root {
  --dro-white: #ffffff;
  --dro-black: #000000;
  --dro-purple: #9F5DE2;
  --dro-background: linear-gradient(180deg, #9F5DE2 0%, #0A0A40 100%);
  --dro-shadow: 0 35px 60px rgba(0,0,0,0.10);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--dro-shadow);
}

.header img {
  width: 200px;
  margin-left: 1rem;
  vertical-align: middle;
  max-width: 110%;
}
.navlinks {
  margin-left: auto;
  font-weight: 500;
  color: var(--dro-purple);
  transition: all 500ms ease;
}
.signup, .signin {
  text-decoration: none;
  padding: 0.3rem 0;
}
.signin {
  margin: 0 2rem;
}
.signin:hover, .signup:hover {
  border-bottom: 2px solid var(--dro-purple);
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  min-height: 100vh;
  margin: 0 2rem;
}
.hero_contents h1 {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: capitalize;
}
.hero_contents p {
  padding: 1.2rem 0;
  font-weight: 500;
  text-align: left;
  line-height: 1.8;
}
.hero_contents img {
  width: 10rem;
  margin: 0 0.5rem;
  box-shadow: var(--dro-shadow);
}
.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_img img {
  width: 40%;
  object-fit: contain;
  transition: all 500ms ease;
 transform: translateY(0);
  animation: upDown 12s ease-in-out infinite;
}
.register, .login {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.register_contents, .login_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dro-background);
  color: var(--dro-white);
  width: 100%;
  text-align: left;
}
.register_form, .login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}




 @keyframes upDown {
   0% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
   50% {
     -webkit-transform: translateY(-25px);
     transform: translateY(-25px);
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
 }
