:root {
  --dro-white: #ffffff;
  --dro-black: #000000;
  --dro-purple: #9F5DE2;
  --dro-background: linear-gradient(180deg, #9F5DE2 0%, #0A0A40 100%);
  --dro-shadow: 0 35px 60px rgba(0,0,0,0.10);
  --dro-inputBackground: #f5f0f0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--dro-shadow);
  background-color: var(--dro-white);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
}
.header img {
  width: 200px;
  margin-left: 1rem;
  vertical-align: middle;
  max-width: 110%;
}
.navlinks {
  margin-left: auto;
  font-weight: 500;
  color: var(--dro-purple);
  transition: all 500ms ease;
}
.signup, .signin {
  text-decoration: none;
  padding: 0.3rem 0;
}
.signin {
  margin: 0 2rem;
}
.signin:hover, .signup:hover {
  border-bottom: 2px solid var(--dro-purple);
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  min-height: 100vh;
  margin: 0 2rem;
}
.hero_contents h1 {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: capitalize;
}
.hero_contents p {
  padding: 1.2rem 0;
  font-weight: 500;
  text-align: left;
  line-height: 1.8;
}
.hero_contents img {
  width: 10rem;
  margin: 0 0.5rem;
  box-shadow: var(--dro-shadow);
}
.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_img img {
  width: 40%;
  object-fit: contain;
  transition: all 500ms ease;
 transform: translateY(0);
  animation: upDown 12s ease-in-out infinite;
}
.register, .login {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.register_contents, 
.login_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./images/Logo-white-circle-–-1.png") no-repeat left 10rem center;
  background-size: 20%;
  background-attachment: fixed;
  width: 100%;
  text-align: left;
}
.register_contents img,
.login_contents img, 
.notFound img {
  width: 25%;
  margin: 2rem 0;
}

.register_form, .login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.register_form h1, .login_form h1 {
  color: var(--dro-purple);
}
.form {
  width: 80%;
  box-shadow: var(--dro-shadow);
  padding: 1rem;
}
.label {
  text-align: left;
  margin-top: 0.5rem;
  padding: 0;
  text-transform: capitalize;
}
input {
  margin: 0.2rem 0;

}
input, select {
  width: 100%;
  padding: 0.45rem;
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dro-purple);
  background-color: var(--dro-inputBackground);
}
input[type="checkbox"]{
  width: 1%;
  margin: 1rem 0.2rem;
}
.errors {
  color: red;
  font-size: 0.85rem;
}
.btn {
  width: 50%;
  padding: 0.4rem;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: var(--dro-purple);
  color: var(--dro-white);
  outline: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 500ms;
  margin-top: 2rem;
}
.btn:hover {
  opacity: 0.9;
}
.my-3 {
  margin: 1.5rem 0;
}
.mx-3 {
  margin: 0 0.5rem;
}

@media screen and (max-width: 799px){
  .register, .login {
    display: flex;
    flex-direction: column;
  }
  .register_contents, .login_contents {
    display: none;
  }
}


 @keyframes upDown {
   0% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
   50% {
     -webkit-transform: translateY(-25px);
     transform: translateY(-25px);
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
 }
