:root {
  --dro-white: #ffffff;
  --dro-black: #000000;
  --dro-purple: #9F5DE2;
  --dro-background: linear-gradient(180deg, #9F5DE2 0%, #0A0A40 100%);
  --dro-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
  --dro-inputBackground: #f5f0f0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  width: 100%;
}

/**Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  box-shadow: var(--dro-shadow);
  background-color: var(--dro-white);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
}

.header img {
  width: 200px;
  margin-left: 1rem;
  vertical-align: middle;
  max-width: 110%;
}

.navlinks , a {
  font-weight: 500;
  color: rgba(0,0,0,0.40);
  transition: all 500ms ease;
}

.navlinks svg {
  font-size: 1.35rem;
  color: var(--dro-purple);
}

.signup, .signin, .signout {
  text-decoration: none;
  padding: 0.3rem 0;
}
.signin {
  margin: 0 2rem;
}
.signin:hover, .signup:hover, a:hover {
  color: var(--dro-purple);
  text-decoration: none;
}
.signin:focus,
.signup:focus {
  color: var(--dro-purple)
}
/*Hero Page**/
.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  min-height: 100vh;
  margin: 0 2rem;
}
.hero_contents h1 {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 700;
  text-transform: capitalize;
}
.hero_contents p {
  padding: 1.2rem 0;
  font-weight: 500;
  text-align: left;
  line-height: 1.8;
}
.hero_contents img {
  width: 10rem;
  margin: 0 0.5rem;
  box-shadow: var(--dro-shadow);
}
.hero_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_img img {
  width: 40%;
  object-fit: contain;
  transition: all 500ms ease;
  transform: translateY(0);
  animation: upDown 12s ease-in-out infinite;
}

/**Register,Login Pages*/
.register, .login {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.register_contents, 
.login_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./images/Logo-white-circle-–-1.png") no-repeat left 10rem center;
  background-size: 20%;
  background-attachment: fixed;
  width: 100%;
  text-align: left;
}
.register_contents img,
.login_contents img, 
.notFound img {
  width: 25%;
  margin: 2rem 0;
}

.register_form, .login_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.register_form h1, .login_form h1 {
  color: var(--dro-purple);
}
.form {
  width: 80%;
  box-shadow: var(--dro-shadow);
  padding: 1rem;
}
.label {
  text-align: left;
  margin-top: 0.5rem;
  padding: 0;
  text-transform: capitalize;
}
input {
  margin: 0.2rem 0;
}
input, select {
  width: 100%;
  padding: 0.45rem;
  border-radius: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dro-purple);
  background-color: var(--dro-inputBackground);
}
input[type="checkbox"]{
  width: 1%;
  margin: 1rem 0.2rem;
}
.errors {
  color: red;
  font-size: 0.85rem;
}
.btn {
  width: 50%;
  padding: 0.4rem;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: var(--dro-purple);
  color: var(--dro-white);
  outline: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 500ms;
  margin-top: 2rem;
}
.btn:hover {
  color: var(--dro-white);
  background-color: var(--dro-black);
}

.my-3 {
  margin: 1.5rem 0;
}
.mx-3 {
  margin: 0 0.5rem;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**Dashboard*/
.row {
  width: 100%;
  height: 100%;
  background-color: var(--dro-white);
  cursor: pointer;
  transition: all .3s ease;
}
.list-group {
  position: sticky;
  top: 4rem;
  border: 1px solid #e3e3e3;
}
.list-group-item.active {
  background: var(--dro-background);
}
.list-group-item {
  border: none;
}
.col-sm-4 {
  padding: 1rem;
}
.col-sm-8 {
  padding: 1rem;
  min-width: 100vh;
  background: rgba(0, 0, 0, 0) radial-gradient(rgba(0, 0, 0, 0.05) 30%, transparent) repeat scroll 0% 0%;
}
.first_name {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.item1,
.practitioners_preferred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  height: 5rem;
  width: 100%;
  border-radius: 10px;
  background-color: var(--dro-white);
  z-index: 100;
  border: 1px solid #e3e3e3;
}
.item1 p {
  text-align: left;
}
.practitioners_preferred {
  text-align: center;
  padding: 0.5rem;
  height: auto;
}
.practitioners_services,
.practitioners_consultations {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  height: auto;
  width: 100%;
  border-radius: 10px;
  background-color: var(--dro-white);
  z-index: 100;
  border: 1px solid #e3e3e3;
  padding: 1rem;
  transition: all 500ms ease;
}
.practitioners_services:hover,
.practitioners_consultations:hover {
  transform: translateY(-5px);
  box-shadow:  0 5px 20px -5px rgba(0, 0, 0, 0.5);
}
.item2 {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 1rem;
  height: 10rem;
  margin: 1rem 0;
  border-radius: 10px;
}
.item2 div, .profile_others div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  transition: all 500ms ease;
}
.item2 img {
  width: 50%;
}
.item2 div:hover,
.item3 div:hover,
.item4 div:hover {
  transform: translateY(-5px);
  box-shadow:  0 5px 20px -5px rgba(0, 0, 0, 0.5);
}
.item3, .item4, .item5 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  height: 10rem;
  margin: 2rem 0;
}
.item6 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  height: 10rem;
  margin: 1rem 0;
}
.item3 div,
.item4 div,
.item5 div
 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.cases {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}
.item3 div {
  background-color: #ffa07ae3;
}
.item4 div, .item5 div, .cases {
  background-color: var(--dro-white);
}
.cases_others {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.cases_others div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dro-white);
  width: 100%;
  height: 4rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.cases_others p {
  padding: 0;
}

.item7 {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  height: 12rem;
  background-color: var(--dro-white);
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.practitioners_view , .profile_details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10rem;
}
.view_all {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background-color: var(--dro-white);
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.view_single {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.view_single div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dro-white);
  margin: 0.1rem;
  padding: 0.1rem;
  height: 5rem;
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.view_single p {
  font-size: 0.8rem;
}
.view_single div:hover {
  background: var(--dro-background);
  color: var(--dro-white);
}
.view_all:hover {
  background: var(--dro-black);
  color: var(--dro-white);
}
.profile_contents {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  height: 6rem;
}
.profile_name {
  text-transform: capitalize;
}
.profile_img, .profile_contents {
  background-color: var(--dro-white);
  margin: 0 0.5rem;
  border: 1px solid #e3e3e3;
}
.profile_contents div {
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.upper {
  text-transform: uppercase;
  color: gray;
}
.profile_others {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  height: 5em;
  margin: 1rem 0;
  border-radius: 10px;
}
.profile_others div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dro-white);
  margin: 0.1rem;
  padding: 0.1rem;
  height: 8rem;
  border: 1px solid #e3e3e3;
  transition: all 500ms ease;
}
.profile_others div:hover {
  transform: translateY(-5px);
  box-shadow:  0 5px 20px -5px rgba(0, 0, 0, 0.5);
}
.now, .test {
  background-color: lightblue;
}
.medication, .book{
  background-color: lightpink;
}
.covid {
  background-color: lightgreen;
}
.men img,
.women img,
.my_health img,
.brain img,
.my_wallet img,
.my_messages img,
.my_notes img,
.conversation img,
.my_appointments img,
.practitioners_services img,
.practitioners_consultations img
 {
  width: 40%;
}
.cases img {
  vertical-align: center;
  width: 50%;
}

.diagnostics,
.prescriptions,
.item7 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.diagnostics img,
.prescriptions img
{
  width: 18%;
  vertical-align: middle; 
  margin-left: 2rem;
}

.diagnostics p,
.prescriptions p
{
  margin: 0 auto;
}
.item7 h2 {
  text-align: left;
}
.pg {
  font-weight: 600;
}

.item5 div:hover,
.item6 .cases:hover,
.item6 .prescriptions:hover,
.item6 .diagnostics:hover,
.item7:hover {
  transform: translateY(-5px);
  box-shadow:  0 5px 20px -5px rgba(0, 0, 0, 0.5);
}

.profile_wallet img,
.profile_health img,
.profile_orders img,
.profile_family img
  {
  width: 15%;
}
.profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_img img {
  width: 80%;
  vertical-align: middle;
}

/*Doctors*/
.doctors {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.time-slot {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 1rem;
  
}
.time-slot div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  transition: all 500ms ease;
}
.time-slot div:hover {
  background-color: #1F0737;
  color: var(--dro-white);
}
.time-slot p {
  padding: 0;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
}
.doctor {
  display: flex;
  flex-direction: column;
  height: 12rem;
  box-shadow: var(--dro-shadow);
  margin: 3rem auto;
}
.doctor_container {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  height: 15rem;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}
.doctor_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.doctor_img img {
  width: 80%;
  vertical-align: middle;
}
.doctor_details {
  text-align: left;
}
.doctor_like svg {
  font-size: 2.5rem;
  font-weight: 100;
  color: #e3e3e3;
  transition: all 500ms ease;
  cursor: pointer;
  padding: 0.5rem;
}
.doctor_like svg:hover {
  color: red;
}
.doctor_booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.book_doctor {
  background-color: var(--dro-purple);
  color: var(--dro-white);
  border-radius: 5px;
  padding: 0.3rem 1.5rem;
  box-shadow: var(--dro-shadow);
  cursor: pointer;
  transition: all 500ms ease;
}
.book_doctor:hover {
  background-color: var(--dro-black);
  transform: translateY(-5px);
}
.book_later button {
  background-color: var(--dro-purple);
  color: var(--dro-white);
  box-shadow: var(--dro-shadow);
  transition: all 500ms ease;
}
.book_later button:hover {
  background-color: var(--dro-black);
  transform: translateY(-5px);
}
.modal_body {
  align-items: center;
}
.modal_img, .modal_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal_img img {
  width: 30%;
}
.modal_list {
  display: flex;
  flex-direction: column;
}
.list_item  {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-bottom: 1px solid #e3e3e3;
  padding: 0.5rem;
  font-size: 1.2rem;
 
}
.list_item span {
  color: var(--dro-black);
  font-weight: 100;
}
.list_item svg {
  margin-right: 0.2rem;
}
.list_item2 {
  margin-left: auto;
}
.applyBtn {
  outline: none;
  border: none;
  background-color: var(--dro-black);
  color: var(--dro-white);
  height: 2rem !important;
}
input {
  margin: 0;
  height: 2rem !important;
}
.bookingBtn {
  display: block;
  width: 80%;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: var(--dro-purple);
  color: var(--dro-white);
  margin: 0 auto;
  padding: 0.5rem 0;
  box-shadow: var(--dro-shadow);
  transition: all 500ms ease;
}
.bookingBtn:hover {
  background-color: var(--dro-black);
  transform: translateY(-5px);
}



@media screen and (max-width: 799px){
  ul {
    grid-template-columns: repeat(1,1fr);
  }
  .hero_contents h1 {
    font-size: 2rem;
  }
  .profile_others {
    grid-template-columns: repeat(2,1fr);
  }
  .item2 {
    overflow-y: scroll;
    height: 100%;
  }
  .item2 img {
    width:40%;
  }
  .item2 div {
    width: 200px;
  }
  .col-sm-8, .col-sm-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-4 {
    padding: 0;
  }
  .col-sm-8 {
    margin-top: 3rem;
  }
  .list-group {
    flex-direction: row;
    position: fixed;
    top: 10;
    left: 0;
    right: 0;
    z-index: 200;
  }
  .register, .login {
    display: flex;
    flex-direction: column;
  }
  .register_contents, .login_contents {
    display: none;
  }
  .view_single {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }
  .view_single div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.2rem;
    border-radius: 0;
    padding: 0.5rem;
    height: 97%;
  }
  .doctor {
    width: 100%;
  }
}


 @keyframes upDown {
   0% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
   50% {
     -webkit-transform: translateY(-25px);
     transform: translateY(-25px);
   }
   100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }
 }
